<button type="button" class="image {{if this.isLarge "large"}}" {{on "click" this.toggleSize}}>
  <div class="img-container"><img ...attributes></div>
<small>{{if this.isLarge "Collapse" "Expand"}}</small>
</button>