<Jumbo>
  <h2>Contact Us</h2>
  <p>
    Downtown Services Representatives would love to help you<br>
    choose a destination or answer any questions you may have.
  </p>
  <address>
    Downtown Services HQ
    <p>
      Residential Praderas de Xilotepelt<br>
      Casa #G2, Jinotepe, Carazo
    </p>
    <a href="tel:505.8863.8751">+1 (505) 8863-8751</a><br>
    <a href="mailto:alvison@gmail.com">alvison@gmail.com</a>
  </address>
  <LinkTo @route="about" class="button">About</LinkTo>
</Jumbo>